######################################################################
# @author      : {{NAME}} ({{EMAIL}})
# @file        : {{FILE}}
# @created     : {{TIMESTAMP}}
######################################################################

cmake_minimum_required(VERSION 3.17)
project({{CURSOR}})
